<div class="eighty-percent">

    <div class="widget">

        <h1>Header 1</h1>

        <h2>Header 2</h2>

        <h3>Header 3</h3>

        <p>Carbometer:Blog will increase traffic to the <a href="http://www.carbonfive.com"> Carbon Five </a> blog from relevant readers (potential employees, clients, industry influencers). Carbometer:Blog is a persistent information display in a public area that will produce greater participation from everyone at Carbon Five by informing people what they can do to help and rewarding people when targets are met. </p>

        <button>
            click here
        </button>

        <h3>Carbometer:Blog color palette</h3>

            <div class="color-group">

                <div class="color1" title="color1">
                    <p class="box-label">#313C4B</p>
                </div>

                <div class="color2" title="color2">
                    <p class="box-label">#FF4500</p>
                </div>

                <div class="color3" title="color3">
                    <p>#678BBA</p>
                </div>

                <div class="color4" title="color4">
                    <p>#AFCBE0</p>
                </div>

                <div class="color5" title="color5">
                    <p>#DCDCDC</p>
                </div>

                <div class="color6" title="color6">
                    <p>#F5F5F5</p>
                </div>

            </div>          <! .color-group -->

     </div>         <!-- .widget -->

</div>          <!-- .eighty-percent -->

