<div class="five-col">

    <div class="widget">

        <div class="widget-header">
            <h1 class="widget-title">Carbon Emitter Post Leaderboard</h1>
            <p class="widget-subtitle">past 30 days since August 1, 2012</p>

        </div>          <!--.widget-header -->

        <div class="post-row">

           <div class="avatar"><p>Avatar</p></div>

            <h2 class="post-title">Using Open Source Static Libraries in Xcode 4</h2>

            <span class="post-info">Posted on April 4, 2012 by Jonah Williams</span>

            <div class="traffic-graph">Graph</div>

            <div class="statistics">
                <p><span class="counter">2323</span> unique views</p>
                <p><span class="counter">0</span> comments</p>
                <p><span class="counter">3</span> tweets</p>
            </div>          <!-- statistics -->

         </div>          <!-- .post-list -->

    </div>          <!-- .widget -->

</div>          <!-- .five-col -->

