<div class='post-leaderboard'>
  <h1>Carbon Emitter Post Leaderboard</h1>
  <span>past 30 days since August 1, 2012</span>
  <ol class='posts'>
    <li>
      <div class='avatar'>Avatar</div>
      <h3>My Blog Post</h3>
      <span>Posted on January 1, 2012 by Rob Pak</span>
      <div class='traffic-graph'>Graph</div>
      <div class='statistics'>
        <p><span class='counter'>2323</span> unique views</p>
        <p><span class='counter'>0</span> comments</p>
        <p><span class='counter'>3</span> tweets</p>
      </div>
    </li>
  </ol>
</div>
