<div class="five-col" xmlns="http://www.w3.org/1999/html">

    <div class="widget">

        <div class="widget-header">
            <h1 class="widget-title">Carbon Emitter Post Leaderboard</h1>
            <p class="widget-subtitle">30 days since August 1, 2012</p>

        </div>          <!--.widget-header -->

    <!-- Using Open Source Static Libraries in Xcode 4     -->

    <div class="post-row">

        <div class="avatar-col">

            <p class="post-info">*</p>
            <div class="avatar"><img src="/assets/avatar.png"></div>

        </div>      <!-- .avatar-col -->

        <div class="title-info-col">

            <h2 class="post-title">Using Open Source Static Libraries in Xcode 4</h2>
            <p class="post-author-date">Posted on <strong>March 12, 2012</strong> by <strong>Jonah Williams</strong></p>

            <div class="traffic-graph">
                <p>traffic graph goes here</p>
            </div>

        </div> <!-- .title-info-col -->

        <div class="statistics">

            <ul class="counter">
                <li class="views">1744</li>
                <li class="comments">1</li>
                <li class="tweets">5</p>
            </ul>

        </div>           <!-- .statistics -->


    </div>      <!-- .post-row -->

    <!-- Customizing the iOS Keyboard     -->

        <div class="post-row">

            <div class="avatar-col">

                <p class="post-info">&nbsp;</p>
                <p class="avatar"><img src="/assets/avatar.png"></p>

            </div>      <!-- .avatar-col -->

            <div class="title-info-col">

                <h2 class="post-title">Customizing the iOS Keyboard</h2>
                <p class="post-author-date">Posted on <strong>March 12, 2012</strong> by <strong>Jonah Williams</strong></p>

                <div class="traffic-graph">
                    <p>traffic graph goes here</p>
                </div>

            </div> <!-- .title-info-col -->

            <div class="statistics">

                <ul class="counter">
                    <li class="views">623</li>
                    <li class="comments">0</li>
                    <li class="tweets">4</p>
                </ul>

            </div>           <!-- .statistics -->


        </div>      <!-- .post-row -->

        <!-- Abusing UIView Controllers     -->

        <div class="post-row">

            <div class="avatar-col">

                <p class="post-info">&nbsp;</p>
                <p class="avatar"><img src="/assets/avatar.png"></p>

            </div>

            <div class="title-info-col">

                <h2 class="post-title">Abusing UIView Controllers</h2>
                <p class="post-author-date">Posted on <strong>March 9, 2011</strong> by <strong>Jonah Williams</strong></p>

                <div class="traffic-graph">
                    <p>traffic graph goes here</p>
                </div>

            </div> <!-- .title-info-col -->

            <div class="statistics">

                <ul class="counter">
                    <li class="views">526</li>
                    <li class="comments">3</li>
                    <li class="tweets">10</p>
                </ul>

            </div>           <!-- .statistics -->

        </div>      <!-- .post-row -->

        <!--  Concurrency with Actors    -->

        <div class="post-row">

            <div class="avatar-col">

                <p class="post-info">^</p>
                <p class="avatar"><img src="/assets/avatar.png"></p>

            </div>

            <div class="title-info-col">

                <h2 class="post-title">Concurrency with Actors</h2>
                <p class="post-author-date">Posted on <strong>April 19, 2011</strong> by <strong>Mike Perham</strong></p>

                <div class="traffic-graph">
                    <p>traffic graph goes here</p>
                </div>

            </div> <!-- .title-info-col -->

            <div class="statistics">

                <ul class="counter">
                    <li class="views">384</li>
                    <li class="comments">0</li>
                    <li class="tweets">4</p>
                </ul>

            </div>           <!-- .statistics -->

        </div>      <!-- .post-row -->

        <!-- VIM Text Objects: The Definitive Guide     -->

        <div class="post-row">

            <div class="avatar-col">

                <p class="post-info">&nbsp;</p>
                <p class="avatar"><img src="/assets/avatar.png"></p>

            </div>

            <div class="title-info-col">

                <h2 class="post-title">Abusing UIView Controllers</h2>
                <p class="post-author-date">Posted on <strong>October 17, 2011</strong> by <strong>Jared Carroll</strong></p>

                <div class="traffic-graph">
                    <p>traffic graph goes here</p>
                </div>

            </div> <!-- .title-info-col -->

            <div class="statistics">

                <ul class="counter">
                    <li class="views">374</li>
                    <li class="comments">0</li>
                    <li class="tweets">5</p>
                </ul>

            </div>           <!-- .statistics -->

        </div>      <!-- .post-row -->

        <!-- Automated Ad Hoc Builds Using Xcode 4     -->

        <div class="post-row">

            <div class="avatar-col">

                <p class="post-info">^</p>
                <p class="avatar"><img src="/assets/avatar.png"></p>

            </div>

            <div class="title-info-col">

                <h2 class="post-title">Automated Ad Hoc Builds Using Xcode 4</h2>
                <p class="post-author-date">Posted on <strong>October 17, 2011</strong> by <strong>Jared Carroll</strong></p>

                <div class="traffic-graph">
                    <p>traffic graph goes here</p>
                </div>

            </div> <!-- .title-info-col -->

            <div class="statistics">

                <ul class="counter">
                    <li class="views">301</li>
                    <li class="comments">0</li>
                    <li class="tweets">5</p>
                </ul>

            </div>           <!-- .statistics -->

        </div>      <!-- .post-row -->

        <!-- RSpec Best Practices     -->

        <div class="post-row">

            <div class="avatar-col">

                <p class="post-info">&nbsp;</p>
                <p class="avatar"><img src="/assets/avatar.png"></p>

            </div>

            <div class="title-info-col">

                <h2 class="post-title">RSpec Best Practices</h2>
                <p class="post-author-date">Posted on <strong>October 21, 2010</strong> by <strong>Jared Carroll</strong></p>

                <div class="traffic-graph">
                    <p>traffic graph goes here</p>
                </div>

            </div> <!-- .title-info-col -->

            <div class="statistics">

                <ul class="counter">
                    <li class="views">294</li>
                    <li class="comments">3</li>
                    <li class="tweets">0</p>
                </ul>

            </div>           <!-- .statistics -->

        </div>      <!-- .post-row -->

        <!-- Code Formatting in Xcode 4     -->

        <div class="post-row">

            <div class="avatar-col">

                <p class="post-info">&nbsp;</p>
                <p class="avatar"><img src="/assets/avatar.png"></p>

            </div>

            <div class="title-info-col">

                <h2 class="post-title">Code Formatting in Xcode 4</h2>
                <p class="post-author-date">Posted on <strong>March 10, 2011</strong> by <strong>Jonah Williams</strong></p>

                <div class="traffic-graph">
                    <p>traffic graph goes here</p>
                </div>

            </div> <!-- .title-info-col -->

            <div class="statistics">

                <ul class="counter">
                    <li class="views">273</li>
                    <li class="comments">0</li>
                    <li class="tweets">16</p>
                </ul>

            </div>           <!-- .statistics -->

        </div>      <!-- .post-row -->

    </div>          <!-- .widget -->

</div>          <!-- .five-col -->
