<header>
  <h1>Carbometer</h1>
  <p><a href="https://github.com/carbonfive/carbometer">Improve Carbometer.</a> Clone it at git@github.com:carbonfive/carbometer.git</p>
</header>

<table class="projects">
  <tbody>
    <% @projects.each do |p| %>
    <tr>
      <td class="project">
        <%= p[:name] %>
        <% if p[:image] %>
        <div class="project_image">
          <%= image_tag p[:image] %>
        </div>
        <% end %>
      </td>
      <td class="team">
        <ul class="team">
        <% p[:team].each do |m| %>
          <li class="team-member"><%= image_tag gravatar m[:email] %><p><%= m[:name] %></p></li>
        <% end %>
        </ul>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>