#dashboard-frame {
  overflow: hidden;
  width: 100%;
}

#blog-visibility {
  float: left;
  margin: 0 .8%;
}

#buzz-box {
  height: 425px;
}

#blog-traffic-graph {
  height: 215px;
}

#post-leaderboard {
  margin-right: 1.069518717%;
}

#blog-post-bar-chart {
  height: 214px;
}

.widget {
  background: #313C4B;
  float: left;
}

#challenge-leaderboard {
  height: 854px;
}

.widget-gradient {
  background: #999; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000c', endColorstr='#313C4B'); /* for IE */
  background: -webkit-linear-gradient(#000, #313C4B); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #000,  #313C4B); /* for firefox 3.6+ */
}

.widget-header {
  height: 35px;
  font-size: 1em;
  border-bottom: 1px dotted white;
  height: auto;
  overflow: hidden;
}

.widget-title {                         /* white smoke */
  color: #F5F5F5;
  display: inline;
  float: left;
  font-size: 110%;
  margin: 5px 0 0 0;
  padding-left: 5px;
  text-transform: capitalize;
}

.widget-subtitle {
  color: #AFCBE0;                      /* light gray */
  display: inline;
  float: left;
  font-family: arial;
  font-size: 80%;
  margin: 10px 0 0 0;
  padding-left: 5px;
  width: auto;
}

.post-row {
  background: #313C4B;
  border-bottom: 1px solid black;
  height: auto;
  overflow: hidden;
  padding: 5px 0;
}

.post-row-gradient {
  background: #999; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000c', endColorstr='#313C4B'); /* for IE */
  background: -webkit-linear-gradient(#000, #313C4B); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #000,  #313C4B); /* for firefox 3.6+ */
  height: auto;
  overflow: hidden;
  padding: 5px 0;
}

.avatar-col {
  display: inline;
  float: left;
  margin-top: 5px;
  width: 95px;
}

.post-info {
  color: #FF4500;
  display: inline;
  float: left;
  margin: 0;
  padding: 0 0 0 3px;
  width: 19px;
 }

.avatar {
  margin: 0;
  padding: 0;
  display: inline;
  height: 73px;
  width: 73px;
  float: left;
  box-shadow: 2px 2px 8px #000;
  -moz-box0shadow: 2px 2px 8px #000;
  -webkit-box-shadow: 2px 2px 8px #000;
}

/*
  box-shadow: -2px -2px 6px #000;
  -moz-box0shadow: -2px -2px 6px #424242;
  -webkit-box-shadow: -2px -2px 6px #1e3144;
*/

.title-info-col {
  display: inline;
  float: left;
  margin: 0 10px;
  width: 305px;
}

.post-title {
  color: #678BBA;
  float: left;
  font-size: 1em;
  font-style: bold;
  line-height: 120%;
  margin: 5px 0 0 0;
  padding: 0;
  width: auto;
}

.post-author-date {
  color: #AFCBE0;
  display: inline;
  float: left;
  font-size: .70em;
  margin: 0;
  padding-left: 0;
  width: auto;
}

.post-author-date strong {
  color: #DCDCDC;
  font-size: 1em;
}

.statistics {
  display: inline;
  float: right;
  width: 95px
}

.counter p {
  color: #DCDCDC;
  font-size: 115%;
  margin: 0;
  padding: 0;
  text-align: right;
  width: 100%;
}

.counter img {
  height: 15px;
  padding-right: 5px;
  width: 15px;
}

.traffic-graph  {
  border-left: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
  display: inline;
  float: left;
  height: 25px;
  margin-top: 10px;
  width: 300px;
}

.traffic-graph p {     /* just used for the comp, not part of app styling */
  color: #808080;
  font-size: .75em;
  margin: 0 0 0 10px;
  text-transform: uppercase;
}


