$unit: 20px;
$half-unit: 10px;
$quarter-unit: 5px;

$c5-orange: #DF800F;
$light-color: #fff;

body {
  font-family: "Helvetica";
}

.projects {
  border-spacing: 0;
}

.project{
  padding: $unit;
  width: 300px;
  margin: 0;

  border: solid 1px #ccc;
  border-bottom: none;
  background-color: #ddd;
  cursor: pointer;

  font-size: 200%;
}

.project_image {
  position: absolute;
  left: 400px;
  top: 50px;
  display: none;

  box-shadow: 2px 15px 25px rgba(0,0,0,.7);
}

.project:hover {
  background-color: darken($c5-orange, 20%);
  color: $light-color;
}

.project:hover .project_image {
  display: block;
}

.team {
  list-style: none;
  margin: 0;
}

.team-member {
  float: left;
  padding: $half-unit;
  margin-right: $unit;
  font-size: 150%;
  width: 100px;

  text-align: center;
}