$unit: 20px;
$half-unit: 10px;
$quarter-unit: 5px;

$c5-orange: #DF800F;
$light-color: #fff;

body {
  margin: 0;
  padding: 0;

  font-family: "Helvetica";
}

body > header {
  width: 100%;
  margin: 0;
  padding-left: $unit;
  height: 100px;

  background-color: #333;
  color: $light-color;

  h1 {
    margin: 0;
  }
}

.projects {
  position: absolute;
  top: 100;
  border-spacing: 0;


}

.project{
  padding: 0 $unit;
  width: 300px;
  margin: 0;

  border: solid 1px #ccc;
  border-bottom: none;
  background-color: #ddd;
  cursor: pointer;

  font-size: 200%;
}

.project_image {
  position: absolute;
  left: 400px;
  top: 50px;
  display: none;

  box-shadow: 2px 15px 25px rgba(0,0,0,.7);
}

.project:hover {
  background-color: darken($c5-orange, 20%);
  color: $light-color;
}

.project:hover .project_image {
  display: block;
  border-radius: 10px;
}

.team-member img {
  border-radius: 50px;
  box-shadow: 0 1px 2px rgba(0,0,0,.8);
}

.team {
  list-style: none;
  margin: 0;
}

.team-member {
  float: left;
  width: 120px;
  padding-top: $half-unit;

  font-size: 150%;
  text-align: center;
}

body > footer {
  position: abolute;
  bottom: 0;
  width: 100%;
}